body{
	background:#c4553d;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;

}


.container{
margin-top:150px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.heading{
		position:absolute;
		top: 20px;
}`
h1{
	color:#FFFFFF;
	font-size:75px;
}
img{
	width: 350px;
	height:300px;
}
.card{
	width:400px;
	height:300px;
	margin:20px;
}
.intro{
	height:50px;
	width:350px;
	position :relative;
	background: transparent;
	overflow: hidden;
	bottom: 65px;
}


.card:hover .intro{
 height: 150px;
 bottom: 150px;
 background: white;
}

.card:hover p{
	opacity: 1;
	visibility: visible;
}


p{
	color : darkblue;
	visibility: hidden;
	opacity: 0;
}